@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: #1651B8;  

}

.navbar{
    width: 80%;
    height: 80px;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;
}

.navbar-logo{
    width: 60px;
    height: 60px;
}

.navbar-logo img{
    width: 100%;
    border-radius: 50%;
}

.navbar-liks_list{
    display: flex;
}

.navbar-links_items{
    margin-right: 15px;

    list-style: none;
}

.navbar-links_items a{
    color: white;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    transition: .15s;
}

.navbar-links_items a:hover{
    color: #FFE11F;
}

.abouUs-container{
    width: 1000px;
    height: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
}

.aboutUs-title{
    font-family: 'Roboto', sans-serif;
    
    color: #079c2c;
    margin-bottom: 10px;
}

.aboutUs-text{
    font-family: 'Roboto', sans-serif;

    color: #079c2c;

    font-size: 18px;
}

.footer-cup{
    width: 650px;

    display: flex;

    margin: auto;

    border: 1px solid balck;
    justify-content: space-between;
    align-items: center;

    padding: 5px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: black;

    border-top: 1px solid #1651B8;
}

.footer-contacts_title{
    font-family: 'Roboto', sans-serif;

    color: #079c2c;

    margin-bottom: 5px;
}

.footer-contacts_items{
    font-size: 18px;
    padding: 3px;
    border: none;

    background: linear-gradient(45deg, #079c2c, #FFE11F);
    color: white;

    display: flex;
    align-items: center;

    border-radius: 5px;

    text-decoration: none;
    margin-right: 5px;
}

.footer-contacts_items i {
    margin-right: 5px;
}

.footer-contacts{
    margin-bottom: 15px;

    list-style: none;
}

.footer-description{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    color: #079c2c;

}